
@import '_mixin';

.st-settings {
	position: absolute;
	right: 0;
	top: 8vh;
	background: $white;
	box-shadow: 0 3px 5px rgba(0,0,0,0.1);
	width: 90px;
	padding: 10px;
	border: 1px solid $lighter-grey;

	ul {
		padding-left: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;

		li {
			list-style-type: none;
			display: flex;
			margin: 7px;
				align-items: center;
				cursor: pointer;

			span {
				border-radius: 50%;
				width: 15px;
				height: 15px;
			}
		}
	}
}